{% include 'base_conf.j2' %}

{% include 'intf_conf.j2' %}

{% include 'ovrl_eos_vxlan.j2' %}

{% include 'undl_eos_ibgp.j2' %}

{% include 'ovrl_eos_ibgp_evpn.j2' %}

{% include 'ovrl_eos_evpn_vlan_base.j2' %}